html,cuerpo {

    imagen de fondo: url('strep1.gif');  
    repetición de fondo: no repetición; 
    fondo-posición: centro central;
    tamaño de fondo: cubierta;

    




}



. vendedor {

    familia de fuentes: monoespacio;

    color: #FFFFFF;



    cursor: texto;

}



. titular {

    pantalla: flex;

    flex-direction: fila;

    flex-wrap: envoltura;

    justificar-contenido: centro;

}



. centro {

    posición: fija;

    arriba: 50%;

    izquierda: 50%;

    transformar: traducir(-50%, -50%);

}



. textiboi {

	text-align: centro;

	color: #FFFFFF;

	familia de fuentes: monoespacio;

}



. textiboi:desplazarse {

	color: #FF0000;

}

	



.header {

    text-align: center;

    color: #FFFFFF;

    font-family: monospace;

}



.header a {

    text-decoration: none;

}



.hoverr:hover a 

{

	color: #FFFFFF;

}



.header:hover {

    text-align: center;

    color: #FFFFFF;

    font-family: monospace;

}



.container:hover .seller {

    color: #FFFFFF;

}



.container:hover a {

    color: #FFFFFF;

}



.a {

    text-align: center;

    color: #FFFFFF;

    font-family: monospace;

}



.header:hover a {

    text-align: center;

    color: #FFFFFF;

    font-family: monospace;

}



.icon {

    color: #444;

}



.icon i {

    font-size: 80px;

}



.container {

    text-align: center;

    margin: 5px 20px;



    float: left;

}



a {

    color: #FFFFFF;

}



. contenedor:desplazarse . icono {

    color: var(--icon-color);

    tamaño de fuente: 20px;

}



. contenedor:desplazarse . vendedor {

    color: blanco;

}



. contenedor:desplazar un  {

    color: blanco;

}
